/* Ajoutez ce style pour le corps ou le conteneur principal */
body,
html {
  height: 100%; /* S'assure que le corps prend toute la hauteur */
  margin: 0; /* Supprime les marges par défaut */
}

.app-container {
  /* Nom du conteneur principal */
  display: flex;
  flex-direction: column; /* Colonne pour empiler le contenu et le footer */
  min-height: 100vh; /* S'assure que le conteneur prend toute la hauteur de la fenêtre */
}

.footer {
  width: 100%;
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;

  &__logo {
    height: 39.44px;
    width: 122px;
  }

  &__text {
    font-size: 12px;

    @media (min-width: 1000px) {
      font-size: 24px;
    }
  }
}
