body,
html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column; /* Les éléments sont empilés en colonne */
  color: white;
  justify-content: center;
  align-items: center; /* Centre horizontalement tout le contenu */
  text-align: center; /* Centre également le texte à l'intérieur */

  &__logo {
    height: 40px; /* Taille fixe du logo */
    width: auto; /* Conserver le ratio d'aspect du logo */
    margin-bottom: 10px; /* Espace entre le logo et le texte */
  }

  &__text {
    font-size: 12px;

    @media (min-width: 768px) {
      font-size: 24px; /* Augmenter la taille du texte sur grand écran */
    }
  }
}
