.logement-tags {
  height: 25px;
  border-radius: 8px;
  background-color: #ff6060;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  padding: 0 22px;
  color: #ffffff;
  width: auto;
}

.logement-tags-list {
  display: flex; /* Utiliser flex */
  justify-content: flex-start; /* Aligner à gauche */
  align-items: flex-start; /* Alignement en haut */
  flex-direction: row; /* Disposition en ligne */
  flex-wrap: wrap; /* Permet de passer à la ligne */
  gap: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  list-style: none;
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  .logement-tags-list {
    justify-content: flex-start; /* Toujours aligner à gauche */
    flex-wrap: wrap; /* Les tags peuvent se placer sur plusieurs lignes si nécessaire */
    gap: 10px; /* Garder l'espacement cohérent */
  }

  .logement-tags {
    flex: none; /* Empêcher les éléments de s'étendre ou se répartir en plein écran */
    width: auto; /* Laisser les éléments ajuster leur propre largeur */
  }
}
