.collapse {
  margin-bottom: 15px;
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    background-color: #ff6060;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    &--txt {
      color: white;
      font-size: 13px;
      padding: 5px;
    }

    &--btn {
      padding: 5px;
      transition: transform 0.3s ease;
    }

    &--btn.rotate {
      transform: rotate(-180deg); /* Rotation de la flèche */
    }
  }

  &__content {
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    padding: 0 10px;
    overflow: hidden;
    max-height: 0; /* Définit la hauteur fermée */
    transition: max-height 0.5s ease-out, padding 0.3s ease;
    box-sizing: border-box;
  }

  &__content.open {
    max-height: 1000px; /* S'ajuste pour que le contenu soit entièrement visible */
    padding: 10px; /* Ajoute du padding lorsque le contenu est visible */
  }

  @media (min-width: 768px) {
    /* Éléments pour que le collapse étende bien la page */
    &__title {
      height: 47px;

      &--txt {
        font-size: 18px;
      }

      &--btn {
        height: 14px;
        width: 23px;
        padding: 16px;
      }
    }

    &__content {
      margin-top: 20px;
      font-size: 18px;
      transition: max-height 0.5s ease, padding 0.5s ease; /* Animation plus fluide */
    }

    &__content.open {
      max-height: 1000px;
    }
  }
}
