.footer {
  width: 100%;
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;

  &__logo {
    height: 40px;
    width: auto;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    .mobile-line-break {
      display: block;
    }
  }

  @media (min-width: 768px) {
    &__text {
      font-size: 24px;
    }
    .mobile-line-break {
      display: inline;
    }
  }
}
