.logement-tags {
  height: 25px;
  border-radius: 8px;
  background-color: #ff6060;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  padding: 0 22px;
  color: #ffffff;
  width: auto;
}

.logement-tags-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  list-style: none;
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  .logement-tags-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .logement-tags {
    flex: none;
    width: auto;
  }
}
