.slide {
  position: relative;
  width: 100%;
  height: 415px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  .slide-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4%;
    height: auto;
    cursor: pointer;
    z-index: 10;
  }

  .left {
    left: 20px;
  }

  .right {
    right: 80px;
  }

  .slide-counter {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;

    .slide-counter {
      display: none;
    }

    .slide-image {
      height: auto;
    }

    .arrow img {
      width: 90%;
    }

    .left {
      left: 10px;
    }

    .right {
      right: 10px;
    }
  }

  @media screen and (max-width: 480px) {
    .arrow img {
      width: 90%;
    }

    .left {
      left: 10px;
    }

    .right {
      right: 10px;
    }
  }
}
